.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.day {
    background-color: #f1f1f1;
    width: 100px;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
}

.hours{
    background-color: #f1f1f1;
    width: 100px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
}

.slots > div{
    background-color: #f1f1f1;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    height: 30px;
    font-size: 15px;
}

.save{
    background-color: #f1f1f1;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create{
    background-color: #f1f1f1;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}